extends layout

block content
   .container
       .row
           .col-md-12
               h2.text-center Нащи контакты
       .row
           .col-md-4
               address
                strong AwesomePizza.
                br
                |г. Первомайск, ул. Неизвестная 13
                br
                |Николаевская обл, Украина
                br
                abbr(title="Phone")
                    |Т: (123) 456-7890

                address
                strong
                   |Наш e-mail
                br
                a(href="#")
                   |first.last@example.com
           .col-md-8



