extends layout
block content
    .container
        .row
            .col-md-12.col-sm-12
                .h1.text-center AwesomePizza
                .h2.text-center Вход
        .row
            .col-md-4.col-sm-4
            .col-md-4.col-sm-4
                form(action="/" method="POST")
                    .form-group
                        label(for="Email")
                            |Email address
                        input(type="email" class="form-control" id="Email" placeholder="Email" name="username")

                    .form-group
                        label(for="Password")
                            |Password
                        input(type="password" class="form-control" id="Password" placeholder="Password" name="password")
                    button(type="submit" class="btn btn-success btn-lg btn-block")
                        i(class="fa fa-check" aria-hidden="true")
                        | &nbsp; Войти
        .col-md-4.col-sm-4