doctype html
html
  head
    title AwesomePizza
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.min.js")
  body
    block content
